extends layout

block content
  h2.text-center.bg-success 球赛爬爬

  div.text-center.container
    a.col-md-2(href="/rank/England") 英超
    a.bcol-md-2(href="/rank/France") 法甲
    a.col-md-2(href="/rank/Italy") 意甲
    a.col-md-2(href="/rank/Germany") 德甲
    a.col-md-2(href="/rank/Spain") 西甲
  br

  h5 获取时间: #{updateAt}(每十秒实时更新) &nbsp;
    a#refresh.btn.btn-primary 刷新

  form.form-inline(method="post",action="/mail/subscribe")
    .form-group
      label.col-md-3.control-label(for="email") 邮箱订阅:
      .col-md-9
        input.form-control(type="email",name="email",placeholder="邮箱地址")
    button.btn.btn-primary(type='submit') 提交

  br

  table.table.table-striped.table-bordered
    thead
      td 排名
      td 球队名
      td 场次
      td 胜
      td 平
      td 负
      td 进球
      td 失球
      td 净胜球
      td 场均进球
      td 场均失球
      td 场均净胜
      td 场均积分
      td 积分
    each team,index in rank
      tr
        td #{team[0]}
        td #{team[2]}
        td #{team[3]}
        td #{team[4]}
        td #{team[5]}
        td #{team[6]}
        td #{team[7]}
        td #{team[8]}
        td #{team[9]}
        td #{team[10]}
        td #{team[11]}
        td #{team[12]}
        td #{team[13]}
        td #{team[14]}